@model v1Remastered.Dto.SupportDetailsDto_SupportForm

@{

}

<style>
    
</style>

<div class="container support">

    
    @* 1st row: page title and description *@
    <div>
        <div class="support-page-description">
            <h5 style="color: #F0BB78;">Welcome, @ViewBag.UserName</h5>
        </div>
    </div>


    @* 2nd row: raise new ticket form and ticket list *@
    <div class="row d-flex justify-content-between">
        
        @* 1st col: new ticket form *@
        <div class="col-lg-5 col-md-6 col-sm-12 mt-5">
            <div class="support-new-ticket">

                @* form: title and description *@
                <div class="title">
                    <h5>
                        <i class="icon-ticket fas fa-ticket-alt mx-2"></i>
                        Raise Ticket
                    </h5>
                </div>

                @* form: raise new ticket *@
                <div class="form mt-4">
                    @using (Html.BeginForm("RaiseNewTicket", "Support", new { userid = ViewBag.UserId }, FormMethod.Post))
                    {
                        <div class="">
                            @Html.LabelFor(model => model.SupportTitle, "Short Description") <br>
                            @Html.TextBoxFor(model => model.SupportTitle, new { id = "shortDescription", @style = "width:100%;", @class = "form-input mt-1", placeholder = "Title/Short description" })
                            @Html.ValidationMessageFor(model => model.SupportTitle, null, new { @class = "mx-2 validation-msg" })
                        </div>

                        <div class="mt-2">
                            @Html.LabelFor(model => model.SupportDescription, "Description") <br>
                            @Html.TextAreaFor(model => model.SupportDescription, new { id = "description", @style = "width:100%; height: 150px; overflow-y: auto;", @class = "form-input mt-1", placeholder = "Enter your issue" })
                            @Html.ValidationMessageFor(model => model.SupportDescription, null, new { @class = "mx-2 validation-msg" })
                        </div>

                        <div class="mt-2">
                            <button style="width: 100%;" class="form-submit"><i style="rotate: -45deg;" class="fas fa-ticket-alt mx-2"></i>Raise Ticket</button>
                        </div>
                    }
                </div>

            </div>
        </div>

        @* 2nd col: ticket list *@
        <div class="col col-lg-5 col-md-5 col-sm-12 mt-5">
            <div class="support-list-ticket">

                @* list: title and description *@
                <div class="title">
                    <h5> 
                        <i class="icon-receipt fas fa-receipt"></i> 
                        Tickets 
                    </h5>
                </div>

                @* list: tickets *@


                <div class="list mt-4">
                    @if(ViewBag.TicketsList != null && ViewBag.TicketsList.Count > 0)
                    {
                        @foreach(var record in ViewBag.TicketsList)
                        {
                            <div class="raised-ticket mt-2" style="color: white;">
                                <div class="header text-center">
                                    <span>@record.SupportId</span>
                                </div>
                                <div class="body">
                                    <span>Title: @record.SupportTitle</span> <br>
                                    <span>Status: @record.SupportStatus.ToUpper()</span> <br>
                                    <span>Created On:@record.SupportRaisedDate</span> <br>
                                    <span>Closed On: NA</span> <br>

                                    <button class="viewTicketDetails body-btn mt-2" data-support-id="@record.SupportId">View More</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div style="color: white;">
                            <small>No Tickets right now</small>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>

    @* 3rd row: ticket list *@



    @* 4th row: ticket view *@
    <div class="row mt-5">
        <div class="support-ticket-view">
            <p style="color: #E1D7C6;" class="mt-5 text-center">Click On Ticket Form List Toast View </p>
        </div>
    </div>

</div>

@* alert: toast messages *@
<div class="row">
    @if(!string.IsNullOrEmpty(ViewBag.TicketRaiseSuccessMsg))
    {
        <div id="ticketRaiseSuccessMsg" class="toast position-fixed top-0 end-0 m-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i style="color: #009990;" class="fas fa-people-carry"></i>
                <strong style="color: #009990;" class="me-auto mx-2">Ticket Creation: Success</strong>
                @* <small>11 mins ago</small> *@
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewBag.TicketRaiseSuccessMsg
            </div>
        </div>
    }
</div>


@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    @* view selected ticket detials *@
    <script>
        $(document).ready(function() {
            $('.viewTicketDetails').click(function() {

                // Extract the user ID from the URL
                var url = window.location.href;
                var userId = url.substring(url.lastIndexOf('/') + 1);

                // Extract the supportId value
                var supportId = $(this).data('support-id');

                // Make the AJAX call
                $.ajax({
                    url: `/support/${userId}/TicketDetails/${supportId}`,
                    type: 'GET',
                    success: function(response) {
                        // Handle success
                        console.log(`$success: ${userId}, ${supportId}`);
                        console.log('Success:', response);
                        $('.support-ticket-view').html(response);
                    },
                    error: function(error) {
                        // Handle error
                        console.log(`$error: ${userId}, ${supportId}, ${url}`);
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
    
    @* toast alert messages JS *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Show welcome message toast
            var _ticketRaiseSuccessMsg = document.getElementById('ticketRaiseSuccessMsg');
            if (_ticketRaiseSuccessMsg) {
                var ticketRaiseSuccessMsg = new bootstrap.Toast(_ticketRaiseSuccessMsg);
                ticketRaiseSuccessMsg.show();
            }
        });
    </script>
}